

body {

    text-align: center;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.ratings {
    color: rgb(87, 124, 243);
    font-family: avenir;
    font-size: 18px;
}

h1 {
    color: white;
    font-size: 45px;
}

#add-dessert{
    background: rgb(87, 124, 243);
    color: white;
}

.btn-primary {
    margin-left: 10px;
    background: rgb(87, 124, 243);
    color: white;
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: lightgrey;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: white;
}